<html>

<head>
    <meta charset="utf-8">
    <title>Alice_Coffret-evaluation</title>
    <link href="https://fonts.googleapis.com/css?family=Sunflower:300&display=swap" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet" >
</head>

<body>
    <div class="header">
        <% include ./header.ejs %>
    </div>
    <div class="content" style="text-align: center;">
        <h2>평가</h2>
        <form action="/transaction/evaluation" method="POST">
            <table class="table">
                <tr>
                    <th>번호</th>
                    <th>질문</th>
                    <th>불만족</th>
                    <th>보통 </th>
                    <th>만족 </th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>판매 상품의 디자인에 만족하십니까?</td>
                    <td><input type="radio" name="score1" value=20 required></td>
                    <td><input type="radio" name="score1" value=10 required></td>
                    <td><input type="radio" name="score1" value=5 required></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>판매 상품의 가격에 만족하십니까?</td>
                    <td><input type="radio" name="score2" value=20 required></td>
                    <td><input type="radio" name="score2" value=10 required></td>
                    <td><input type="radio" name="score2" value=5 required></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>판매 상품의 배송 기간에 만족하십니까?</td>
                    <td><input type="radio" name="score3" value=20 required></td>
                    <td><input type="radio" name="score3" value=10 required></td>
                    <td><input type="radio" name="score3" value=5 required></td>
                </tr>
                <tr>
                    <td><b>한 줄 평가</b></td>
                    <td colspan="5"><textarea class="introduce1" name="comment" cols="100" rows="10" style="resize: none;"></textarea></td>
                </tr>
               
                <tr>
                    <td colspan="4"></td>
                    <td><input class="btn btn-success" type="submit" value="평가하기"></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="footer">
            <% include ./footer.ejs %>
        </div>
</body>

</html>