<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>포인트 충전</title>
    <link href="/public/css/style.css" rel="stylesheet" >
</head>

<body>
    <div class="header">
        <% include ./header.ejs %>
    </div>

    <div id="root">
        <% if(session.point_status==false) { %>
        <script type="text/javascript">
            alert("point 부족!!")    
        </script>
        <% } %>

        <div class="right-side">
            <div class="price-point-row">
                <dl>
                    <dt><span>결제 금액</span></dt>
                </dl>
                <dd>
                    <ul>
                        <li>
                            <div id="price1" class="price-point">
                                <div class="rp"><span class="amount">1,000</span><span class="name">pt</span></div>
                                <div class="price"><span>1,000원</span></div>
                            </div>
                        </li>
                        <li>
                            <div id="price2" class="price-point">
                                <div class="rp"><span class="amount">5,300</span><span class="name">pt</span></div>
                                <div class="price"><span>5,000원</span></div>
                            </div>
                        </li>
                        <li>
                            <div id="price3" class="price-point">
                                <div class="rp"><span class="amount">11,000</span><span class="name">pt</span></div>
                                <div class="price"><span>10,000원</span></div>
                            </div>
                        </li>
                        <li>
                            <div id="price4" class="price-point">
                                <div class="rp"><span class="amount">56,500</span><span class="name">pt</span></div>
                                <div class="price"><span>50,000원</span></div>
                            </div>
                        </li>
                        <li>
                            <div id="price5" class="price-point">
                                <div class="rp"><span class="amount">115,000</span><span class="name">pt</span></div>
                                <div class="price"><span>100,000원</span></div>
                            </div>
                        </li>
                    </ul>
                </dd>
            </div>
            <div class="payment-method-row">
                <dl>
                    <dt><span>결제 수단</span></dt>
                </dl>
                <dd>
                    <div class="payment-method-tabs">
                        
                        <ol class="tab-list">
                            <li class="tab-list-item active"><input type="radio" class="check" name="check" checked/>&nbsp;상품권</li>
                            <li class="tab-list-item"><input type="radio" class="check" name="check"/>&nbsp;신용카드</li>
                            <li class="tab-list-item"><input type="radio" class="check" name="check"/>&nbsp;휴대폰</li>
                            <li class="tab-list-item"><input type="radio" class="check" name="check"/>&nbsp;온라인이체</li>
                            <li class="tab-list-item"><input type="radio" class="check" name="check"/>&nbsp;간편결제</li>
                            
                        </ol>

                    </div>
                </dd>
            </div>
            <div class="legal-row">
                <dl>
                    <dt><span>POINT 정책 동의 및 결제 전 주의사항</span></dt>
                </dl>
                <dd style="position: relative;">
                    <div class="notice-box">
                        <ul>
                            <li>결제하기전에 확인하세요. 결제오류 및 문의 사항은 고객센터를 통해 확인 가능합니다.</li>
                        </ul>
                        <div class="controls">
                            <div>상품,가격 및 유효기간<span>을 확인하였으며, </span>계약 관련 고지 사항<span> 과 </span>POINT정책<span>및 결제 진행에
                                    동의합니다.</span></div>
                            <div class="checkbox"><input type="checkbox" id="agreeBtn"><label for="agreeBtn"></label>
                            </div>
                        </div>
                    </div>
                    <div></div>
                </dd>
            </div>
            <div class="button-row">
                <div id="btn-pay"><span class="btn-pay-font">결제</span></div>
            </div>
            <div></div>
            <div></div>
        </div>
    </div>
    </div>
    </div>
    <div class="footer">
        <% include ./footer.ejs %>
    </div>

</body>

</html>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    var pointPrice = 0;

    $('.price-point').click(function () {
        $('.price-point').removeClass('active');
        var clickedItem = $(this).attr("id");
        $('#' + clickedItem).addClass('active');

        switch (clickedItem) {
            case 'price1':
                pointPrice = 1000;
                break;

            case 'price2':
                pointPrice = 5300;
                break;

            case 'price3':
                pointPrice = 11000;
                break;

            case 'price4':
                pointPrice = 56500;
                break;

            case 'price5':
                pointPrice = 115000;
                break;
        }

        $('#pointPrices').text('+' + pointPrice);
    }
    );

    $('.tab-list-item').click(function () {
        $('.tab-list-item').removeClass('active');
        $(this).addClass('active');
    });

    $('#btn-pay').click(function () {
        alert('결제성공!');
        var form = document.createElement("form");

        form.setAttribute("charset", "UTF-8");

        form.setAttribute("method", "Post");  //Post 방식

        form.setAttribute("action", "/point/up"); //요청 보낼 주소



        var hiddenField = document.createElement("input");

        hiddenField.setAttribute("type", "hidden");

        hiddenField.setAttribute("name", "price");

        hiddenField.setAttribute("value", pointPrice);

        form.appendChild(hiddenField);

        document.body.appendChild(form);

        form.submit();
    });

</script>

<style>
    .tab-list-item:hover {
        cursor: pointer;
    }

    .kr-payment-options {
        display: flex;
    }

    .tab-list-item.active {
        color: #ff0000;
    }

    .left-panel {
        width: 200px;
        min-width: 200px;
        height: auto;
        background-color: #fff;
        border-right: 1px solid #cacaca;
        padding: 30px 50px 0 30px;


    }


    .right-side {
        width: 930px;
        margin: 0 auto;
        overflow: hidden;
        display: block;
    }

    .price-point .amount {
        font-size: 30px;
        line-height: 63px;
        font-weight: 700;
        -webkit-transform: scaleX(.9);
        transform: scaleX(.9);
        display: inline-block;
        padding-left: 5px;
    }

    .price-point .price {
        margin-top: 10px;
        padding-left: 12px;
        font-size: 20px;
    }

    .price-point {
        color: #6c6c6c;
        width: 144px;
        height: 182px;
        background-color: #f3f3f3;
        border: 1.5px solid #ccc;
        cursor: pointer;
    }

    element.style {}
    *,
    :after,
    :before {
        box-sizing: inherit;
    }

    dt {
        border-top: 1px solid #bebebe;
        width: 132px;
        padding-top: 10px;
        font-weight: 700;
        height: 100px;
    }

    .price-point .rp {
        width: 143px;
        height: 61px;
        background-color: #ffffff;
        margin: auto;
    }

    .price-point active {
        display: block;
    }

    .price-point-row {
        display: -ms-flexbox;
        display: flex;
        margin-top: 30px;
    }

    .price-point .name {
        font-weight: 700;
        font-size: 10px;

    }

    dl {
        margin: 0 7px 0 0;
    }

    .price-point-row dd {
        padding: 0;
        margin: 0;
    }

    dd {
        display: block;
        margin: 0px;
    }

    .legal-row .controls {
        background-color: #f3f3f3;
        margin: 89px 0 0 0;
        padding: 2px 0 0 26px;
        display: -ms-flexbox;
        display: flex;

        align-items: center;

        justify-content: space-between;
        height: 41px;

        font-weight: 700;
        color: #4d4d4d;
        font-size: 13px;
    }

    .kr-payment-options .button-row {
        width: 894px;
        margin-top: 20px;
        text-align: right;
    }

    .price-point-row ul {
        list-style: none;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .price-point-row li {
        margin-left: 7px;
    }

    .payment-method-row {
        margin-top: 15px;
        display: -ms-flexbox;
        display: flex;
    }

    ol,
    ul {
        list-style: none;
    }

    .price-point.active {
        border: 4px solid #ff0000;
    }

    .legal-row .notice-box {
        border: 1px solid #bebebe;
        background-color: #fff;
        height: 153px;
        width: 748px;
        border-radius: 3px;
        margin-left: 8px;
        padding-top: 20px;
    }

    #btn-pay span {
        background-position: -591px -446px;
        width: 144px;
        height: 45px;
        line-height: 45px;
        background-color: #ff0000;
        font-size: 20px;
        color: #ffffff;
        overflow: hidden;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        float: right;
        margin-top: 20px;
        margin-right: 30px;
        border-radius: 5px;

    }

    .btn-pay {
        text-align: right;
    }

    .legal-row {
        display: flex;
    }


    div {
        display: block;
    }



    *,
    :after,
    :before {
        box-sizing: inherit;
    }


    body ::-webkit-scrollbar {
        background-color: transparent;
        width: 4px;
        border: none;
    }

    body ::-webkit-scrollbar-corner {
        display: none;
    }

    body ::-webkit-scrollbar-thumb,
    body ::-webkit-scrollbar-thumb:hover {
        background-color: #785a28;
        border: 1px solid #785a28;
        -webkit-border-radius: 3px;
        width: 4px;
    }

    .kr-payment-options .right-side {
        background-color: #fafafa;
        height: 850px;
        width: 994px;
        padding: 30px 50px;
        position: relative;
    }

    .right-side {
        overflow: hidden;
    }

    *,
    :after,
    :before {
        box-sizing: inherit;
    }

    user agent stylesheet div {
        display: block;
    }

    body.kr {
        background-color: #fff;

        font-size: 12px;
        color: #4c4c4c;
    }

    body {
        font-family: Nanum Gothic, sans-serif;
        color: #a09b8c;

        font-size: 14px;
        line-height: 1.48;
        margin: 0;
    }
    .tab-list{
        display: flex;
    }
    .payment-method-tabs {
    padding-top: 40px;
    }
    li.tab-list-item {
    margin-right: 20px;
    font-size: 15px;
    }
    input.check {
    margin: 0;
    }      
    user agent stylesheet html {
        color: -internal-root-color;
    }
</style>