html, body {
    width: 100%;
    height: 100%;
    font-family: 'Sunflower', sans-serif;
    
}
a:link { text-decoration: none;}

.ProjectIntroduction_ProjectIntroductionBackground{
    margin-top: 30px;
}
.ProjectIntroduction_ProjectOutline {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

.ProjectIntroduction__ProjectCategory {
    color: #757575;
    font-size: 10px;
    background: #fafafa;
    padding: 4px;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
}

.ProjectIntroduction__ProjectTitle {
    font-size: 28px;
}

.ProjectIntroduction__CreatorName {
    color: black;
    text-decoration: none;
}

.ProjectIntroduction__ProjectIntroductionMain {
    
    width: 870px;
    height: 500px;
    margin: 0 auto;
}

.ProjectIntroduction__ProjectCover {
    height: 500px;
}

.ProjectIntroduction__ProjectIntroductionMainColumn {
    float: left;
}

.ProjectIntroduction__FundingStatuss {
    float: right;
}
.ProjectIntroduction__FundingStatuss_f {
    float: right;
    margin-right: 30px;
}

.ProjectIntroduction__StatusTitle {
    margin-bottom: 5px;
}

.ProjectIntroduction__StatusTitle, .ProjectIntroduction__StatusTitle {
    font-size: 12pt;
    font-weight: 400;
}

.ProjectIntroduction__Metric {
    margin-bottom: 20px;
}



.ProjectIntroduction__Small {
    font-size: 24pt;
    font-weight: 700;
}

.ProjectIntroduction__FundingRate {
    font-size: 10pt;
    font-weight: 400;
}

.FundingInformation__FundingInformationInner {
    padding: 20px;
    margin-top: 10px;
    background: #fafafa;
    border: 0.5px solid #EAEAEA;
    border-radius: 5px;
}

.FundingInformation__FundingInformationInner > div {
    font-weight: 800;
}

.ProjectIntroduction__PrimaryButton-sc-1o2ojgb-21.lcgtza {
    display: inline-block;
    /*float: left;*/
    margin-right: 5px;
}

.FundingInformation {
    margin-bottom: 20px;
}

.ProjectIntroduction__ProjectOutlineInner-sc-1o2ojgb-3.fFIyMZ {
    margin-bottom: 40px;
}

.KCBYB {
    width: 315px;
    height: 55px;
    cursor: pointer;
    display: inline-block;
    outline: none;
    border: none;
    vertical-align: baseline;
    box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(0,0,0,0.1) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.1s ease,background-color 0.1s ease,color 0.1s ease,box-shadow 0.1s ease,background 0.1s ease;
    transition: opacity 0.1s ease,background-color 0.1s ease,color 0.1s ease,box-shadow 0.1s ease,background 0.1s ease;
    -webkit-tap-highlight-color: transparent;
    border-radius: 0.28571429rem;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: rgba(0,0,0,.6);
    background-color: #e7e7e7;
    background-color: #fa6462;
    color: #fff;
    font-size: 1.1em;
    opacity: 1;
}

.fVHsGg {
    width: 55px;
    height: 55px;
    cursor: pointer;
    outline: none;
    border: none;
    vertical-align: baseline;
    box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(0,0,0,0.1) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.1s ease,background-color 0.1s ease,color 0.1s ease,box-shadow 0.1s ease,background 0.1s ease;
    transition: opacity 0.1s ease,background-color 0.1s ease,color 0.1s ease,box-shadow 0.1s ease,background 0.1s ease;
    -webkit-tap-highlight-color: transparent;
    border-radius: 0.28571429rem;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: rgba(0,0,0,.6);
    background-color: #e7e7e7;
    font-size: 1.1em;
    opacity: 1;
}
.project_contentTitle{
    text-align: left;
    padding-top: 20px;
    padding-left: 140px;
    margin-bottom: 50px;
    clear: both;
    
}
.project_content{
    text-align: left;
    padding-left: 15px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.project_Comment{
    text-align: left;
    padding-left: 160px;
    margin-bottom: 100px;
}
.tag_spring{
    padding:0px 10px;
    margin: 5px;
    background: #BCE55C;
    color: white;
}
.tag_summer{
    padding:0px 10px;
    margin: 5px;
    background:#4374D9;
    color: white;
}
.tag_fall{
    padding:0px 10px;
    margin: 5px;
    background:#F15F5F;
    color: white;
}
.tag_winter{
    padding:0px 10px;
    margin: 5px;
    background:#6799FF;
    color: white;
}
.tag_cute{
    padding:0px 10px;
    margin: 5px;
    background: #FFE400;
    color: white;
}
.tag_brilliant{
    padding:0px 10px;
    margin: 5px;
    background: #FFB2D9;
    color: white;
}
.tag_luxury{
    padding:0px 10px;
    margin: 5px;
    background: #FF00DD;
    color: white;
}
.tag_simple{
    padding:0px 10px;
    margin: 5px;
    background: #AAD7A5;
    color: white;
}

.projectItem_tagt {
    float: left;
    text-align: center;
}

.project_contentTitle > button{
    background: #ffffff;
    border: 0;
    outline: 0;
    font-weight: bold;
    font-family: 'Sunflower', sans-serif;
    font-size: 15px;
    color: #979797;
}

.project_contentTitle > button:hover{
    color: black;
}

.project_contentTitle > .selected{
    color: black;
}

.inputComment{
    width: 750px;
    height: 170px;
    display: block;
    
    
}
.textareaComment{
    vertical-align: top;
    width: 750px;
    height: 125px;
    padding: 10px;
    resize: none;
    border: 1px solid  rgb(185, 185, 185);
    
}
.uploadComment{
    width: 749px;
    height: 45px;
    border: 1px solid rgb(185, 185, 185);
    border-top: 0px;
    font-family: 'Sunflower', sans-serif;
    margin-bottom: 50px;
}
.submitComment{
    border: 0;
    outline: 0;
    background: rgb(255, 160, 160);
    color: #fafafa;
    font-weight: bold;
    width: 67px;
    height: 45px;
    float: right;
    font-family: 'Sunflower', sans-serif;
     
}
.commentWriter{
    font-size: 15px;
    font-family: 'Sunflower', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.commentContent{
    width: 749px;
    font-size: 13px;
    font-family: 'Sunflower', sans-serif;
    padding-bottom: 20px;
    margin-left: 5px;
    border-bottom: 1px solid rgb(185, 185, 185);

}
.allComment{
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #ca3232;
}


.project_contents {
    margin-top: 50px;
    margin: 0 auto;
    width: 1150px;
}
.commentModify{
    float: right;
    display: flex;
}
.comment{
    width: 749px;
}
.commentButton1,.commentButton2 {

    margin-right: 2px;
    background: #ffffff;
    border: none;
    padding: 1px;
}
.commentImg {
    width: 25px;
    
}
a.menuLink {
    color: white;
}

.ProjectIntroduction__CreatorName a:visited ,a:link {
    text-decoration: none;
    color: black;
  }

/*purchase_create*/
.ProjectIntroduction__ProjectIntroductionMain_create{
    width: 750px;
    height: 500px;
    margin: 0 auto;
}
input.Button-sc{
    font-size: 15px;
    margin-top: 130px;
    background-color: #fa6462;
    color: #fff;
    border-radius: 0.28571429rem;
    font-weight: bold;
    text-align: center;
    border: 0;
    padding: 20px 100;
}